<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [19]:
data['Name'][1]

'A Lamusi'

In [4]:
print(data.shape)

(271116, 15)

In [5]:
print(data.columns)

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 20.7+ MB
None

In [8]:
data.describe()

count    261642.000000
mean         25.556898
std           6.393561
min          10.000000
25%          21.000000
50%          24.000000
75%          28.000000
max          97.000000
Name: Age, dtype: float64

In [9]:
data.describe(include=['bool', 'object'])

,Name,Sex,Team,NOC,Games,Season,City,Sport,Event,Medal
count,271116,271116,271116,271116,271116,271116,271116,271116,271116,39783
unique,134732,2,1184,230,51,2,42,66,765,3
top,Robert Tait McKenzie,M,United States,USA,2000 Summer,Summer,London,Athletics,Football Men's Football,Gold
freq,58,196594,17847,18853,13821,222552,22426,38624,5733,13372

In [10]:
data['Medal'].value_counts(normalize = True)

Gold      0.336123
Bronze    0.334188
Silver    0.329689
Name: Medal, dtype: float64

In [11]:
data.sort_values(by = 'Age', ascending = False).head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
257054,128719,John Quincy Adams Ward,M,97.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN
98118,49663,Winslow Homer,M,96.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
60863,31173,Thomas Cowperthwait Eakins,M,88.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
60861,31173,Thomas Cowperthwait Eakins,M,88.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
60862,31173,Thomas Cowperthwait Eakins,M,88.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN

In [72]:
data[data['Sex'] == "F"]['Age'].mean()

23.732880779508218

In [13]:
data.loc[0:5, ('Name', 'Team', 'Medal')]

                       Name            Team Medal
0                 A Dijiang           China   NaN
1                  A Lamusi           China   NaN
2       Gunnar Nielsen Aaby         Denmark   NaN
3      Edgar Lindenau Aabye  Denmark/Sweden  Gold
4  Christine Jacoba Aaftink     Netherlands   NaN
5  Christine Jacoba Aaftink     Netherlands   NaN

In [14]:
data[-3:]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [15]:
pd.crosstab(data['Age'], data['Medal'], margins=True, normalize = True).head(3)

Medal    Bronze  Gold    Silver       All
Age
10.0   0.000026   0.0  0.000000  0.000026
11.0   0.000000   0.0  0.000026  0.000026
12.0   0.000077   0.0  0.000077  0.000154

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [16]:
print("%0.1f and %0.1f" % (data[(data['Sex'] == "M") & (data['Year'] == 1996)]['Age'].min(), \
                           data[(data['Sex'] == "F") & (data['Year'] == 1996)]['Age'].min()))

14.0 and 12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [163]:
data[(data['Year'] == 2002) & (data['Season'] == 'Winter') & (data['Team'] == 'Russia')].head(100)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1053,588,"Aleksandr Viktorovich ""Sasha"" Abt",M,25.0,179.0,68.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Figure Skating,Figure Skating Men's Singles,NaN
1962,1085,Maksim Sergeyevich Afinogenov,M,22.0,183.0,88.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
2935,1639,Albina Khamitovna Akhatova,F,25.0,160.0,55.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Biathlon,Biathlon Women's 15 kilometres,NaN
2936,1639,Albina Khamitovna Akhatova,F,25.0,160.0,55.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Biathlon,Biathlon Women's 4 x 7.5 kilometres Relay,Bronze
3837,2213,Konstantin Georgiyevich Aladashvili,M,24.0,175.0,78.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Skeleton,Skeleton Men's Skeleton,NaN
9271,5100,Dmitry Nikolayevich Arkhipov,M,20.0,179.0,68.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Freestyle Skiing,Freestyle Skiing Men's Aerials,NaN
12272,6668,Kristina Valterovna Bader,F,20.0,181.0,72.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Women's Two,NaN
14205,7664,Aleksey Alekseyevich Barannikov,M,26.0,177.0,65.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Nordic Combined,Nordic Combined Men's Team,NaN
14206,7664,Aleksey Alekseyevich Barannikov,M,26.0,177.0,65.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Nordic Combined,Nordic Combined Men's Individual,NaN
15559,8382,Mariya Mikhaylovna Barykina,F,28.0,170.0,56.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Women's Ice Hockey,NaN
15562,8383,Varvara Borisovna Barysheva,F,24.0,168.0,62.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
15563,8383,Varvara Borisovna Barysheva,F,24.0,168.0,62.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Women's 1,500 metres",NaN
15564,8383,Varvara Borisovna Barysheva,F,24.0,168.0,62.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Women's 3,000 metres",NaN
15565,8383,Varvara Borisovna Barysheva,F,24.0,168.0,62.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Women's 5,000 metres",NaN
18472,9780,Aleksandr Belov,M,20.0,182.0,60.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
18473,9780,Aleksandr Belov,M,20.0,182.0,60.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
23785,12495,Yelena Bobrova,F,27.0,172.0,64.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Women's Ice Hockey,NaN
24243,12712,Anna Ivanovna Bogaly-Titovets,F,22.0,167.0,58.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Biathlon,Biathlon Women's 7.5 kilometres Sprint,NaN
24244,12712,Anna Ivanovna Bogaly-Titovets,F,22.0,167.0,58.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Biathlon,Biathlon Women's 10 kilometres Pursuit,NaN
24863,13021,Nikolay Valeryevich Bolshakov,M,24.0,176.0,76.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24864,13021,Nikolay Valeryevich Bolshakov,M,24.0,176.0,76.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
27587,14312,Svetlana Sergeyevna Boyarkina-Zhurova,F,30.0,176.0,64.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Women's 500 metres,NaN
27588,14312,Svetlana Sergeyevna Boyarkina-Zhurova,F,30.0,176.0,64.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
32094,16499,Pavel Vladimirovich Bure,M,30.0,180.0,86.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
32096,16500,Valery Vladimirovich Bure,M,27.0,176.0,84.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
32259,16589,Tatyana Ivanovna Burina,F,21.0,163.0,68.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Women's Ice Hockey,NaN
32631,16781,Yelena Nikolayevna Burukhina,F,24.0,164.0,57.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's Sprint,NaN
32632,16781,Yelena Nikolayevna Burukhina,F,24.0,164.0,57.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 15 kilometres,NaN
33000,16981,Mariya Viktorovna Butyrskaya,F,29.0,160.0,49.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Figure Skating,Figure Skating Women's Singles,NaN
33066,17021,Yelena Aleksandrovna Byalkovskaya,F,24.0,179.0,78.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Women's Ice Hockey,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103848,52545,Svetlana Irekovna Ishmuratova,F,29.0,165.0,57.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Biathlon,Biathlon Women's 15 kilometres,NaN
103849,52545,Svetlana Irekovna Ishmuratova,F,29.0,165.0,57.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Biathlon,Biathlon Women's 4 x 7.5 kilometres Relay,Bronze
104396,52825,Mikhail Petrovich Ivanov,M,24.0,180.0,74.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's 15 kilometres,NaN
104397,52825,Mikhail Petrovich Ivanov,M,24.0,180.0,74.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,Gold
104398,52825,Mikhail Petrovich Ivanov,M,24.0,180.0,74.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
112295,56865,Anton Yevgenyevich Kalinichenko,M,19.0,168.0,52.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
114302,57887,Darius Vladovich Kasparaitis,M,29.0,180.0,96.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
114990,58246,Svetlana Mikhaylovna Kaykan,F,23.0,170.0,59.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Women's 500 metres,NaN
114991,58246,Svetlana Mikhaylovna Kaykan,F,23.0,170.0,59.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
115200,58369,Maksim Nikolayevich Kedrin,M,19.0,175.0,82.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Downhill,NaN
115201,58369,Maksim Nikolayevich Kedrin,M,19.0,175.0,82.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Combined,NaN
116634,59012,Nikolay Ivanovich Khabibulin,M,29.0,186.0,88.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
117225,59366,Alyona Andreyevna Khomich,F,20.0,168.0,53.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Women's Ice Hockey,NaN
117633,59528,Aleksandr Vladimirovich Kibalko,M,28.0,183.0,85.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
121034,61217,Sergey Konstantinovich Klevchenya,M,31.0,176.0,70.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
121035,61217,Sergey Konstantinovich Klevchenya,M,31.0,176.0,70.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
121109,61250,Margarita Vyacheslavovna Klimenko,F,22.0,172.0,67.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Luge,Luge Women's Singles,NaN
121593,61478,Viktor Ivanovich Kneyb,M,21.0,180.0,86.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Luge,Luge Men's Singles,NaN
122012,61688,Valery Vladimirovich Kobelev,M,28.0,180.0,70.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
122013,61688,Valery Vladimirovich Kobelev,M,28.0,180.0,70.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
122809,62077,Yury Nikolayevich Kokhanets,M,29.0,178.0,75.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
123322,62316,Sergey Anatolyevich Komarov,M,18.0,174.0,84.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Downhill,NaN
123323,62316,Sergey Anatolyevich Komarov,M,18.0,174.0,84.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Super G,NaN
123324,62316,Sergey Anatolyevich Komarov,M,18.0,174.0,84.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
123325,62316,Sergey Anatolyevich Komarov,M,18.0,174.0,84.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Combined,NaN
124470,62864,Olga Yuryevna Korolyova,F,22.0,165.0,64.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Freestyle Skiing,Freestyle Skiing Women's Aerials,NaN
125740,63436,Ilya Valeryevich Kovalchuk,M,18.0,188.0,104.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
125791,63458,Aleksey Vyacheslavovich Kovalyov,M,28.0,177.0,105.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
126686,63885,Igor Aleksandrovich Kravchuk,M,35.0,185.0,95.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
127813,64419,Sergey Mikhaylovich Kryanin,M,31.0,175.0,71.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN

In [70]:
d1 = pd.crosstab(data[(data['Year'] == 2000)]['Sex'], data[(data['Year'] == 2000)]['Sport'], margins = True)['Gymnastics']['M']
d2 = pd.crosstab(data[(data['Year'] == 2000)]['Sex'], data[(data['Year'] == 2000)]['Sport'], margins = True)['All']['M']
ans = 100 * d1 / d2
print("%0.1f" % ans)

7.7

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [79]:
h_ave = data[(data['Year'] == 2000) & (data['Sport'] == "Basketball") & (data['Sex'] == 'F')]['Height'].mean()
h_std = data[(data['Year'] == 2000) & (data['Sport'] == "Basketball") & (data['Sex'] == 'F')]['Height'].std()
print("%0.1f and %0.1f" % (h_ave, h_std))

182.4 and 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [88]:
w_max = data[(data['Year'] == 2002)]['Weight'].max()
ans = data[(data['Year'] == 2002) & (data['Weight'] == w_max)]['Sport']
print(ans)

99154    Bobsleigh
Name: Sport, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [93]:
data[data['Name'] == 'Pawe Abratkiewicz']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

In [104]:
count_p = pd.crosstab(data[(data['Name'] == 'Pawe Abratkiewicz')]['Year'], \
                      data[(data['Name'] == 'Pawe Abratkiewicz')]['Name'], margins = True)['All']
len(count_p)-1

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [105]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [108]:
pd.crosstab(data[(data['Team'] == 'Australia') & (data['Year'] == 2000) & (data['Sport'] == 'Tennis')]['Team'], \
            data[(data['Team'] == 'Australia') & (data['Year'] == 2000) & (data['Medal'] == 'Silver') & \
                (data['Sport'] == 'Tennis')]['Medal'], margins = True)

Medal      Silver  All
Team
Australia       2    2
All             2    2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [154]:
tab_team = data[((data['Team'] == 'Switzerland') | (data['Team'] == 'Serbia')) & (data['Year'] == 2016) &\
                ((data['Medal'] == 'Gold') | (data['Medal'] == 'Silver') | (data['Medal'] == 'Bronze'))]['Team']
tab_medal = data[((data['Team'] == 'Switzerland') | (data['Team'] == 'Serbia')) & (data['Year'] == 2016) &\
                ((data['Medal'] == 'Gold') | (data['Medal'] == 'Silver') | (data['Medal'] == 'Bronze'))]['Medal']
pd.crosstab(tab_team, tab_medal, margins = True)

Medal        Bronze  Gold  Silver  All
Team
Serbia           13    14      27   54
Switzerland       2     6       3   11
All              15    20      30   65

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [177]:
data[(data['Year'] == 2014) & (data['Age'] >= 25) & (data['Age'] < 35)]['Age'].describe()

count    2594.000000
mean       28.285274
std         2.531171
min        25.000000
25%        26.000000
50%        28.000000
75%        30.000000
max        34.000000
Name: Age, dtype: float64

In [178]:
print("Answer num 1")

Answer num 1

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [199]:
data[(data['City'] == 'Lake Placid')]['Season']
data[(data['City'] == 'Sankt Moritz')]['Season']
print('No, Yes')

No, Yes

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [206]:
len(data[(data['Year'] == 2016)]['Sport'].unique())

34